version: 1
name: expo
manager: micromamba

create:
  commands:
    - micromamba env create -f third_party/EXPO/environment.yml -y
    - micromamba run -n expo pip install -r third_party/EXPO/requirements.txt
